body{
  background-color: lightblue;
  font-family: 'Josefin Sans', sans-serif;
  cursor: url('../assets/Cute-Mail-Carrier-Bird.png'), auto;
  padding: 20px;
  border: 5px dashed white;
  border-radius: 20px;
}

#count{
  font-size: 20px;
  text-align: left;
  padding-right: 40px;
  padding-bottom: 40px;
}

#mesCt:before{
  content: "INBOX";
  padding-right: 20px;
  color: white;

}

#ct-envelope{
  float: left;
  width: 50px;
  margin-top: -70px;
  margin-left: 67px;
}

#postStamp{
  float: right;
  margin-top: -103px;
  margin-right: 480px;
  z-index: -1;
}

.title{
  color: white;
  font-size: 60px;
  text-align: center;
  padding: none;
  margin-top: 51px;
}  

.box{
  font-family: 'Josefin Sans', sans-serif;
}

.box2{
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
}

.date1{
  /*background-color: #a6a6a6;*/
  background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 30px, transparent 30px, transparent 50px, #83B3DB 50px, #84ADCB 80px, transparent 80px, transparent 100px);
  padding: -200px;
  font-size: 18px;
  text-align: right;
  list-style-type: none;
}

.sender1{
  background: url('../assets/envelopebutton.png') no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  text-align: absolute;
  font-size: 20px;
  display: inline;
  padding-left: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}

.subject1{
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

.body1{
    display: none;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

/*flying envelope*/
.stage{
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: whoosh-away 1.5s ease-in-out;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  color: white;
  font-size: 30px;
}

@keyframes spin-round{
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes fly-down{
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes whoosh-away{
  100% {
    transform: scale(0,0) translateY(-500px);
    opacity: 0;
  }
}

.envelope-wrapper{
  position: relative;
  height: 100px;
  width: 100px;
  animation: fly-down 1s ease-in-out;
}

.envelope{
  height: 100%;
  width: 100%;
  animation: spin-round 1s ease-in-out
    ;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
}

.envelope-face{
  position: absolute;
  height: 100%; 
  width: 100%;
}

.envelope-front{
  position: absolute;
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.envelope-back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
