
.box{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  display: block;
  border: 1px solid black;
}

.box2{
  font-family: 'Josefin Sans', sans-serif;
  background-color: pink;
}

.date1{
  background-color: gray;
  text-align: right;
}

.sender1{
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 900;
  display: inline;
}

.subject1{
  font-family: 'Josefin Sans', sans-serif;
  /*display: inline;*/
  font-size: 18px;
  text-align: absolute;
}


.body1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 50px 0;
    text-align: absolute;
    background-color: lightblue;
    margin-top:20px;
}